
$yellow: #ffe056;
$yellow-light: lighten($yellow, 20);
$text-color: #2c3e50;
$light-turqoise: #43C9BF;
$dark-turqoise: #198275;
$green: #73dd7e;
$dark-green: #5baf64;
$warm-grey: #edeae6;
$dark-grey: #c6c4c0;
$orange: #ffb047;
$light-blue: #ADD8E6;
$dark-blue: #7bb2c4;
$darker-blue: #4d90a5;
