@import '@/styles/color.scss';

textarea {
  color: $text-color;
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  border-style: solid;
  text-align: left;
  padding: 5px;
  background-color: $warm-grey;
  width: 100%;
  margin-bottom: 5px;
}

button {
  display: inline-block;
  text-decoration-color: $text-color;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: $text-color;
  background-color: $light-turqoise;
  border-style: solid;
  border: none;
}
button:hover {
  background-color: $dark-turqoise;
}

form input {
  color: $text-color;
  border-radius: 5px;
  border-style:solid;
  text-align: center;
  background-color: #E3E3E3;
  padding: 5px;
  max-width: 200px;
  margin: auto;
}
