
@mixin contained() {
  margin: auto;
  max-width: 1200px;
  //padding-left: 15px;
  //padding-right: 15px;
  @media(min-width: 1000px) {
    //padding-left: 30px;
    //padding-right: 30px;
  }
}

@mixin row($first, $second) {
  display: flex;
  &>*:nth-child(1) {
    flex: $first;
  }
  &>*:nth-child(2) {
    flex: $second;
  }
}
